#============================================================
# PlatformIO / ESP-IDF Build Artifacts
#============================================================

.pio/
build/

*.bin
*.elf
*.map

#============================================================
# ESP-IDF Configuration (auto generated)
#============================================================

sdkconfig*
!sdkconfig.defaults

#============================================================
# Auto Generated Version Header
#============================================================

include/version.h

#============================================================
# Python
#============================================================

__pycache__/

#============================================================
# OS Files
#============================================================

.DS_Store
Thumbs.db

#============================================================
# IDE
#============================================================

.vscode/*
!.vscode/extensions.json

#============================================================
# Temporary Files
#============================================================

*.log
*.tmp